<div class="container">

    <div class="logo">
        <h1>Chat en tiempo real:</h1>
        <div>
            <a href="api/sessions/profile"><img src="https://i.ibb.co/Kxb8GDb/login.png" alt="login" border="0" class="logoS"></a>
            <a href="/products" style="margin-left: 2em"><img src="https://i.ibb.co/pKgL6pC/bench.png" alt="realtimeproducts" border="0" class="logoS"></a>
            <a href="/cart" style="margin-left: 2em"><img src="https://i.ibb.co/8DFrsw8/cart1.png" alt="cart" border="0" class="logoS"></a>
        </div>
    </div>

    <table id="chat-table" class="table"></table>
    <table class="table">
        <tbody>
            <tr>
                <td><input type="text" id="usuario" placeholder="Correo del usuario"/></td>
                <td><input type="text" id="message" placeholder="Mensaje del usuario"/></td>
                <td>
                    <button type="submit" class="boton" id="btnEnv">Enviar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js" type="module"></script>