<div class="Session">
    <div class="container">
        <div class="logo">
            <h1>Login:</h1>
            <div>
                <a href="/chat"><img src="https://i.ibb.co/ftwkrSb/png-transparent-email-computer-icons-message-icon-design-bass-miscellaneous-angle-black-1-1.png"  alt="login" border="0" class="logoS"></a>
                <a href="/products" style="margin-left: 2em"><img src="https://i.ibb.co/pKgL6pC/bench.png" alt="realtimeproducts" border="0" class="logoS"></a>
                <a href="/cart" style="margin-left: 2em"><img src="https://i.ibb.co/8DFrsw8/cart1.png" alt="cart" border="0" class="logoS"></a>
            </div>
        </div>
        <form id="loginForm">
            <p>Correo electrónico</p>
            <br/>
            <input type="email" name="email" required>
            <br/>
            <p>Contraseña</p>
            <br/>
            <input type="password" name="password" required>
            <br/>
            <br/>
            <input class="boton" type="submit">
        </form>
        <br/>
        <br/>
    </div>
    <div>
        <a href="/api/sessions/github"><button class="boton">Entrar con GitHub</button></a>
    </div>
    <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
    <p>¿Has olvidado tu contraseña? <a href="/requestResetPassword">Reestablecer tu contraseña</a></p>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/login.js"></script>