<div class="Session">
    <div id="conteProfi">
        <div class="logo">
            <h1>Tu perfil (Sin datos sensibles):</h1>
            <div>
                <a href="/login"><img src="https://i.ibb.co/Kxb8GDb/login.png" alt="login" border="0" class="logoS"></a>
                <a href="/chat"><img src="https://i.ibb.co/ftwkrSb/png-transparent-email-computer-icons-message-icon-design-bass-miscellaneous-angle-black-1-1.png"  alt="login" border="0" class="logoS"></a>
                <a href="/products" style="margin-left: 2em"><img src="https://i.ibb.co/pKgL6pC/bench.png" alt="realtimeproducts" border="0" class="logoS"></a>
                <a href="/cart" style="margin-left: 2em"><img src="https://i.ibb.co/8DFrsw8/cart1.png" alt="cart" border="0" class="logoS"></a>
            </div>
        </div>
        <br/>
        <div id="profile">
            <p>Nombre: {{user.name}}.</p>
            <p>Correo: {{user.email}}.</p>
            <p>Rol: {{user.role}}.</p>
            <br/>
            <a class="botoncls" href="/login">Cerrar sesión</a>
        </div>
    </div>
</div>